HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

EMAIL_PROVIDER=resend
RESEND_API_KEY=re_JyRs7FxK_NuiDM4BFGkWWKN1nSUaqCiS2
CONTACT_TO_EMAIL=solitek@outlook.fr
